:root {
    --golden-ratio: 100% / 1.618;
}

.main-container {
    background-color: #232020;
    width: calc(var(--golden-ratio));
    height: calc(var(--golden-ratio));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container {
    width: calc(var(--golden-ratio));
    height: calc(100% - var(--golden-ratio));
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.heading {
    color: #EEF1EF;
    font-size: 2.5rem;
    font-weight: bold;
}

.task-input-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.input-task {
    position: relative;
    bottom: 1%;
    width: calc(var(--golden-ratio));
    height: 2.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid #EEF1EF;
}

.input-task::placeholder {
    color: #544D4D;
    font-size: 1.5rem;
}

.input-task:focus {
    color: #EEF1EF;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 0.0625rem solid #EEF1EF;
}

.add-task-button {
    width: calc(99% - var(--golden-ratio));
    height: 3rem;
    border-radius: 7px;
    color: #EEF1EF;
    font-size: 1rem;
    background-color: #A62639;
    border: none;
}

.add-task-button:active {
    background-color: #8f1b2c;
}

.todo-list-container {
    width: calc(var(--golden-ratio));
    height: calc(var(--golden-ratio));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-card {
    background-color: #373333;
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    margin-top: 1.25rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-task {
    display: flex;
    align-items: center;
}

.task-checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #232020;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    cursor: pointer;
}

.task-checkbox:checked::after {
    content: "";
    position: absolute;                  /* Adjust vertical position */
    left: 4px;                 /* Adjust horizontal position */
    width: 5px;                /* Width of the checkmark */
    height: 10px;              /* Height of the checkmark */
    border: solid #EEF1EF;       /* Color and style of the checkmark */
    border-width: 0 2px 2px 0; /* Thickness and sides of the border */
    transform: rotate(45deg);  /* Rotates to create checkmark shape */
}

.task-label {
    color: #EEF1EF;
    font-size: 1rem;
    cursor: pointer;
}

.task-checkbox:checked + .task-label {
    text-decoration: line-through;
    text-decoration-color: #EEF1EF;
}

.trash-button-container {
    margin: 12px;
}

.trash-button {
    cursor: pointer;
    background-color: #373333;
    border-radius: 2px;
    border: none;
    width: 28px;
    height: 28px;
    color: #EEF1EF;
    font-size: 1rem;
}

.trash-button:active {
    background-color: #232020;
}


